Name :P Moulya

Logic Building Task-2

Unique Words in a Sentence

In [1]:
# Taking input from user
sentence = input("Enter sentence: ")

# Split sentence into words using space
words = sentence.split()

# Convert list to set to remove duplicates
unique_words = set(words)

# Display results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  Python is a simple language. Python is easy to understand.

Unique words count: 8
Unique words: {'language.', 'easy', 'understand.', 'a', 'Python', 'is', 'simple', 'to'}

 Highest Salary from Employee Data

In [2]:
# Employee dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Initialize highest salary variables
highest_employee = None
highest_salary = 0

# Loop through dictionary to find highest salary
for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

# Display result
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

Find Maximum and Minimum Values

In [3]:
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through numbers
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Display results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Count Products Above a Price Threshold

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0  # Counter for prices above 1000

# Loop through prices
for price in prices:
    if price > 1000:
        count += 1

# Display result
print("Products above 1000:", count)

Products above 1000: 2

 Calculate Attendance Percentage

In [5]:
attendance = ["P", "P", "A", "P", "P"]

# Count number of Present days
present_count = attendance.count("P")

# Total number of days
total_days = len(attendance)

# Calculate percentage
attendance_percentage = (present_count / total_days) * 100

# Display result
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

Remove Duplicate Phone Numbers

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

# Display result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

 Count Character Frequency

In [10]:
# Take string input from user
string = input("Enter a string: ")

# Create empty dictionary to store frequency
char_frequency = {}

# Loop through each character in string
for char in string:
    # If character already exists, increment count
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        # If character appears first time, initialize with 1
        char_frequency[char] = 1

# Display result
print("Character Frequency:", char_frequency)

Enter a string:  python_language

Character Frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, '_': 1, 'l': 1, 'a': 2, 'g': 2, 'u': 1, 'e': 1}

Convert List to Tuple

In [11]:
# Take user input (space separated numbers)
user_input = input("Enter numbers separated by space: ")

# Convert string input into list of integers
numbers_list = list(map(int, user_input.split()))

# Convert list to tuple
numbers_tuple = tuple(numbers_list)

# Display result
print("Tuple:", numbers_tuple)

Enter numbers separated by space:  2 3 3 2 4 5 6 7

Tuple: (2, 3, 3, 2, 4, 5, 6, 7)

Check if a Key Exists in a Dictionary

In [12]:
# Create empty dictionary
employees = {}

# Number of employees to enter
n = int(input("Enter number of employees: "))

# Take employee details from user
for i in range(n):
    name = input("Enter employee name: ")
    salary = int(input("Enter employee salary: "))
    employees[name] = salary

# Key to check
key_to_check = input("Enter employee name to check: ")

# Check if key exists
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter number of employees:  2
Enter employee name:  Ravi
Enter employee salary:  12000
Enter employee name:  Ramya
Enter employee salary:  10000
Enter employee name to check:  Ravi

Employee exists

Calculate Average Marks

In [13]:
# Take number of subjects
n = int(input("Enter number of subjects: "))

marks = []

# Take marks input from user
for i in range(n):
    mark = float(input(f"Enter marks for subject {i+1}: "))
    marks.append(mark)

# Calculate total marks
total = sum(marks)

# Calculate average
average = total / len(marks)

# Display result
print("Average Marks:", average)

Enter number of subjects:  5
Enter marks for subject 1:  90
Enter marks for subject 2:  89.5
Enter marks for subject 3:  76
Enter marks for subject 4:  65
Enter marks for subject 5:  80

Average Marks: 80.1